body {
  box-sizing: border-box;
  overflow-y: hidden;
}

.footer {
  text-align: center;
  margin-top: 50px;
  color: #cccccc;
  padding: 20px 0;
  border-top: 1px solid #eeeeee;
}

.footer a {
  color: #cccccc;
}

.footer a:hover {
  text-decoration: underline;
}

.top-row {
  margin-top: 50px;
}

.middled {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.counter {
  position: relative;
  background-color: #333333;
  color: #dddddd;
  height: 100%;
  border: 5px solid #333333;
  transition: border-color 0.2s;
  text-align: center;
  overflow: hidden;
}

.counter:hover {
  border-color: #fafafa;
  transition: border-color 0.5s;
  cursor: pointer;
}

.counter.playing {
  color: #fafafa;
  background-color: #71b284;
}

.counter.stopped .counter-text {
  animation: zoom 1s;
}

.counter.paused::before {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "\f144";
  font-family: "FontAwesome";
  font-size: 50vw;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  background-image: url(assets/square_bg.png);
  background-repeat: repeat;
  text-shadow: 0 0 100px rgba(0, 0, 0, 0.3);
  transition: font-size 0.1s, text-shadow 0.1s;
}

.counter.paused:hover::before {
  font-size: 60vw;
  text-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
}

.counter .counter-text {
  font-family: monospace;
  font-size: 20vw;
}

.counter .turn-text {
  font-size: 5vw;
}

.mobster-controls {
  border: none;
}

.mobster-controls li {
  height: 100%;
  float: left;
}

.mobster-controls .button {
  height: 100%;
  display: block;
  margin: 0;
}

.mobster.disabled {
  opacity: 0.5;
}

.mobster.active .mobster-control-name {
  background-color: #71b284;
  color: #ffffff;
}

.period-separator {
  line-height: 33px;
}

.reveal-modal a:not(.close-reveal-modal) {
  margin-right: 20px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  75% {
    transform: scale(2);
    filter: blur(10px);
  }
  100% {
    transform: scale(1);
  }
}
