<div class="mobster row collapse">
    <div class="small-8 columns">
        <input placeholder="Name" type="text" value="Mobster {{id}}" class="mobster-control-name">
    </div>
    <div class="small-4 columns">
        <ul class="button-group even-4 postfix mobster-controls">
            <li>
                <a class="button tiny secondary mobster-control-turn">
                    <i class="fa fa-fw fa-crosshairs"></i>
                </a>
            </li>
            <li>
                <a class="button tiny secondary mobster-control-up">
                    <i class="fa fa-fw fa-arrow-up"></i>
                </a>
            </li>
            <li>
                <a class="button tiny secondary mobster-control-down">
                    <i class="fa fa-fw fa-arrow-down"></i>
                </a>
            </li>
            <li>
                <a class="button tiny alert mobster-control-disable">
                    <i class="fa fa-fw fa-eye-slash"></i>
                </a>
            </li>
        </ul>
    </div>
</div>