---
title: Timer
description: Timer for Mob Programming and just keeping time whether in Agile XP Retrospectives or any other situation.
scripts:
  - timer
no_footer: true
header:
  links:
    - icon: play
      classname: play
    - icon: pause
      classname: pause
    - icon: stop
      classname: stop
    - icon:  cog
      classname: settings
      modal: settingsModal

---

.middled.counter
  %div
    .counter-text
      Start
    %small.turn-text

.hidden
  %audio.alert{ src: './sounds/door-bell.wav', volume:'1' }

#settingsModal.reveal-modal{ data: {reveal: ''}, role: 'dialog' }
  %h2 Timer Settings
  .row.collapse
    .small-3.columns
      %label.prefix{for:'#period'} Duration
    .small-8.columns
      %input#period.period.text-center{ type:"number", placeholder:"Minutes", value:"10" }
    .small-1.columns
      %label.postfix{for:'#period'} minutes
  %h4
    %span Mobsters
    %small You need at least two.
  %span.button.small.expand.add-mobster Add a Mobster
  .mobster-container

  %a.close-reveal-modal &#215;

  %a.save-settings{ title: "Page reloads with settings in the querystring, save or share using your browser" }  Save
